
<div>      
    <h4> <a href="/Pizza">Pizzeria</a> </h4>
    <h4> <a href="/EserciziRazor">Esercizi Razor</a> </h4>
</div>

<div class="container">
    <div>
        <input id="search-input" type="text" class="form-control mb-5" placeholder="Ricerca una pizza" onkeyup="search"/>
    </div>
    <div class="box">
    </div>
</div>

<script type="text/javascript">

loadData(null);


document.getElementById("search-input").addEventListener("keyup", search);
// search
function search(e) {
    
    var value = document.getElementById("search-input").value;
   // console.log(value);
   document.querySelector('.box').innerHTML = '';
   loadData(value);
}



// load data
function loadData(search) {
    axios.get('api/pizze', {
        params: {
            search: search
        }
    }).then(res => {
        if (res.data.length == 0) {
             document.querySelector('.box').innerHTML +=
                `
                <div class="card d-flex flex-row justify-content-between p-3 mb-4 bg-warning">
                    <div class="col-6">
                        <h3> Nessun risultato </h3>    
                    </div>
                </div>
                `;
        } else{
            res.data.forEach(pizza => {
                console.log('pizza', pizza);
                
                document.querySelector('.box').innerHTML +=
                `
                <div class="card d-flex flex-row justify-content-between p-3 mb-4 bg-warning">
                    <div class="col-6">
                        <h3> <a href="/Home/Details/${pizza.id}">${pizza.name}</a></h3>
                        <p>${pizza.description}</p>
                        <p>Prezzo:${pizza.price}&euro;</p>
                        <p>Tipologia: ${pizza.categoria.name}</p>
                    </div>
                </div>
                `;
            })
        }
    })
}

   
</script>



